.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 40%; */
    text-align: center;
    margin:2% 2%;
    /* min-height: 200px; */
    /* background-color: rgba(33, 33, 33, .3); */
    border: 2px solid lightcoral;
    border-radius: 20px;
    background-color: lightcyan;
}

.main-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 40%;
    text-align: center;
    margin:10% 0;
    min-height: 200px;
    /* background-color: rgba(33, 33, 33, .3); */
    align-items: center;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: lightblue;
}

